* {
    margin: 10px auto;
    box-sizing: border-box;
    font-family: Roboto, "sans-serif";
}
body {
    background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);

}

h1 {
    font-family: "Sedgwick Ave", sans-serif;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    color: #2a053a;
    text-decoration: underline;
}

.entire-work {
    margin: 0 auto;
   
}
.container {
    max-width: 600px;
    margin: 0px auto;
    border: 2px solid blue;
    padding: 30px;
    background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
    border-radius: 36px;
    border: none;
    box-shadow: 10px 10px 38px rgba(0, 0, 0, 0.3);
}

.quote {
    font-size: 18px;
    font-weight: bold;
    color: #83096a;
    font-style: italic;
}
h6 {
    border:#83096a 4px solid;
    margin: 0 auto;
    max-width: 60%;
    padding: 10px;
    border-radius: 12px;
    background-color: #efa4bd58;
    color: #83096a;
}

.theme-button {
    margin: 0 auto;
    font-size: small;
    background: #38446a;
    color: white;
    padding: 5px 8px;
    text-align: center;
    display: block;
    border-radius: 40px;
    max-width: 10%;
    
}
.theme-button:hover {
    color: black;
    background: white;
}
.dark {
    background: linear-gradient(
          112.1deg,
          rgb(32, 38, 57) 11.4%,
          rgb(63, 76, 119) 70.2%
        );
        color: white;
      }
  
.dark .container {
        background: rgba(255, 255, 255, 0.1);
        border: 2px solid white;
      }

.dark a {
        color: plum;
      }

.dark h1 
 {
    color: white;
}

.dark .quote {
    color: white;
}
.dark h6 {
    color: white;
    border: 2px solid white;
}

.dark .change-theme {
    color: white;
}
