* {
    margin: 10px auto;
    box-sizing: border-box;
    font-family: Roboto, "sans-serif";
}
body {
    background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);

}

h1 {
    font-family: "Sedgwick Ave", sans-serif;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    color: #2a053a;
    /* color: black; */
    text-decoration: underline;
}

.entire-work {
    margin: 0 auto;
   
}
.container {
    max-width: 600px;
    margin: 0px auto;
    border: 2px solid blue;
    padding: 30px;
    background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
    border-radius: 36px;
    border: none;
    box-shadow: 10px 10px 38px rgba(0, 0, 0, 0.3);
}

.quote {
    font-size: 18px;
    font-weight: bold;
    color: #83096a;
    font-style: italic;
}
h6 {
    border:#83096a 4px solid;
    margin: 0 auto;
    max-width: 60%;
    padding: 10px;
    border-radius: 12px;
    background-color: #efa4bd58;
    color: #83096a;
}

.theme-button {
    margin: 0 auto;
    font-size: small;
    background: #38446a;
    color: white;
    padding: 5px 8px;
    text-align: center;
    display: block;
    border-radius: 40px;
    max-width: 10%;
    
}
.theme-button:hover {
    color: black;
    background: white;
}
.dark {
    background: linear-gradient(
          112.1deg,
          rgb(32, 38, 57) 11.4%,
          rgb(63, 76, 119) 70.2%
        );
        color: white;
      }
  
.dark .container {
        background: rgba(255, 255, 255, 0.1);
        border: 2px solid white;
      }

.dark a {
        color: plum;
      }

.dark h1 
 {
    color: white;
}

.dark .quote {
    color: white;
}
.dark h6 {
    color: white;
    border: 2px solid white;
}
/* .change-theme {
    font-size: 36px;
    font-weight: bold;
    color: #83096a;
    font-style: italic;
    text-align: center;
} */
.dark .change-theme {
    color: white;
}
/* .theme-button {
    width: 30%;
    margin: 0 auto;
    border: none;
    background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
} */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
body {
    background-color: #f9f7fe;
    font-family: Arial, Helvetica, sans-serif;
 }
 h1 {
     font-weight: 800;
     font-size: 36px;
     line-height: 1.5;
     color: #272044;
     text-align: center;
 }
 .container {
     margin: 120px auto;
     max-width: 600px;
 }
 header {
     margin-bottom: 30px;
 }
 .form-container {
     padding: 30px;
     background-color: white;
     border-radius: 10px;
     box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
     margin-bottom: 30px;
     padding: 15px 20px;
 
 }
 form {
     /* padding: 30px;
     background-color: white;
     border-radius: 10px; */
     display: flex;
     /* box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
     margin-bottom: 30px; */
 /*  */
     /* }
 }
 @-webkit-keyframes blink-animation {
     to {
         visibility: hidden;
     }
}
 .hint {
     line-height: 1.5;
     font-size: 12px;
     opacity: 0.6;
 }
 .instructions {
     padding: 16px;
     border: 1px solid rgba(39, 33, 66, 0.5);
     width: 80%;
     font-size: 16px;
     border-radius: 50px;
     line-height: 20px;
     color: #272044;
 }
 .submit-button {
     margin-left: 10px;
     background-color: #885df1;
     color: white;
     border: none;
     border-radius: 50px;
     padding: 14px 24px;
     width: 150px;
     font-size: 16px;
 }
 .poem {
     font-size: 16px;
     background-color: white;
     padding: 20px;
     line-height: 2;
     border-left: 3px solid #885df1;
     box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.03);
 }
 footer {
     text-align: center;
     font-size: 13px;
     margin-top: 30px;
 }
     
 a {
     color: #885df1;
 }
 
 .poem strong {
     color: pink
 }
 .hidden {
     display: none;
 }
 .generating {
     animation: blink-animation 1s steps(5, start) infinite;
 }
 @keyframes blink-animation {
     to {
         visibility: hidden; } */